body{
    background: url(img/anonim.jpg);
}

.text-place{    
    display: flex;    
    flex-direction: column;
    width: 200px;
    margin: auto;
    padding: 120px;    
    background: #a08f8f;   
    margin-top: 150px;
}

.text-place input{    
    margin-bottom: 20px;
}
.text-place img{
    width: 150px;
    margin: auto;
}
.text-place h1{
    margin: auto;
}
.text-place h1:hover{
    transform: scale(1.1);
}
.text-place a{
    margin: auto;
    color: white;
}
.text-place a:hover{
    color: black;
}
.text-place a{
    text-decoration: none;
}
