    body{
        background: rgb(181, 245, 242);
    }


    .header-class{
        background: black;
        margin: 0 auto;
        display: flex;
        justify-content:  space-between;
        padding: 25px;
    }

    .header-class h1{
        padding: 20px 60px;
        background-color: yellow;
        color: black;
    }

    .basket img{
        widows: 85px;
        height: 65px;
        margin-left: 25px;
    }
   

    
    .text-place{
        display: flex;
        flex-direction: column;
        background:rgb(224, 224, 198);
        width: 50%;
        margin: 0 auto;
        padding: 25px 1px;
    }
    
    
     p{
     text-align: center;

    }

    .text-place button{
        display: block;
        margin: auto;
        width: 160px;
        margin: 5px auto;
    }
