body{
    background:rgb(181, 245, 242);
}

h1{ 
    text-align: center;
}

.main-menu{
    display: flex;
    flex-direction: column;
    width: 10%;    
    margin: 0 auto;
}
.main-menu input{

    margin: 5px;

}