    body{
        background: rgb(181, 245, 242);
    }
    .header-class{
        background: black;
        width: 60%;
        margin: 0 auto;
        padding: 5px 0px;
    }
    
    h1{ 
        text-align: center;
        color: white;   
    }

    .text-place{
        display: flex;
        flex-direction: column;
        background:rgb(192, 192, 147);
        width: 30%;
        margin: 0 auto;
        padding: 25px 1px;
    }

    .text-place input{
        width: 300px;
        margin:  5px auto;
    }

    .text-place button{
        width: 150px;
        margin: 5px auto;
    }
